/*控制整个滚动条*/
::-webkit-scrollbar {
    background-color: lightgray;
    width: 7.5px;
    height: 7.5px;
    background-clip: padding-box;
}

/*滚动条中间滑动部分*/
::-webkit-scrollbar-thumb {
    background-color: #6e7783;
    border-radius: 5px;
}
